<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/jumbotron/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GYM BUDDY</title>

  </head>

  <body>
      </div>
    <div class="jumbotron">
      <div class="container">
        <h1>Find your Gym Pal Today</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-default btn-lg" href="users/sign_in" role="button">Sign up today »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/footer.png" height="100%">
        </div>
                </div>
      </div>

      <hr>

      <footer>
        <p>© GYM BUDDY 2015</p>
      </footer>
    </div> <!-- /container -->



</body></html>