<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <h1>Create a Gym Buddy request</h1>
    <%= render 'form' %>
  </div>
</div>

<div class="panel-footer">
  <%= link_to 'Back', posts_path %>
</div>
</div>
